head
	title
		|[*titl*]
	base(href="[(site_url)]")
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284")
	meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="yandex-verification" content="[(yandex_verification)]")
	//- Favicons
	link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
	link(rel="manifest" href="/site.webmanifest")
	link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
	meta(name="msapplication-TileColor" content="#0098ff")
	meta(name="msapplication-TileImage" content="/mstile-144x144.png")
	meta(name="theme-color" content="#ffffff")
	//- Template style
	link(type="text/css" rel="stylesheet" href="[(site_url)]assets/templates/projectsoft/css/main.css?" + hash)
	link(type="text/css" rel="stylesheet" href="[(site_url)]css.css?" + hash)
	meta(name="apple-mobile-web-app-title" content="[(site_name)]")
	meta(name="application-name" content="[(site_name)]")
	meta(name="title" content="[*pagetitle:notags:strip*]")
	meta(name="description" content="[*desc:notags:strip*]")
	meta(name="keywords" content="[*keyw:notags:strip*]")
	meta(name="author" content="[(site_name)]")
	- var snippet = "[!getFullUrl? &arr=`` &id=`7`!]"
	link(rel="alternate" type="application/rss+xml" title="RSS-лента ГБОУ СОШ пос. Комсомольский" href!=snippet)
	meta(name="og:title" content="[*pagetitle:notags:strip*]")
	meta(name="og:description" content="[*desc:notags:strip*]")
	- var snippet = "[[ogImage? &type=`og,vk`]]"
	|!{snippet}
	style
		|body {
		|	background-image: url([(background_image)]);
		|	background-repeat: [(background_repeat)];
		|	background-size: [(background_size)];
		|	background-position: [(background_position)];
		|	background-attachment: [(background_attachment)];
		|}