@font-face {
	font-family: 'Ruslan Display';
	src: local('Ruslan Display'),
	local('RuslanDisplay'),
	url('//komsomol.minobr63.ru/assets/templates/projectsoft/fonts/RuslanDisplayRegular.woff2?694fcbd5aac653b5682db76be9ef23d9') format('woff2'),
	url('//komsomol.minobr63.ru/assets/templates/projectsoft/fonts/RuslanDisplayRegular.woff?694fcbd5aac653b5682db76be9ef23d9') format('woff'),
	url('//komsomol.minobr63.ru/assets/templates/projectsoft/fonts/RuslanDisplayRegular.ttf?694fcbd5aac653b5682db76be9ef23d9') format('truetype');
	font-display: swap;
	font-weight: 400
}
.fancybox-content.docx_viewer {
	height: 100% !important;
	max-height: 100% !important;
}
.nowrap {
	white-space: nowrap;
}
html body .bvi-body .footer-develop,
html body .bvi-body .footer-develop a {
	font-size: 12px !important;
}
html body .bvi-body[data-bvi-font-family] .footer-develop,
html body .bvi-body[data-bvi-font-family] .footer-develop a {
	font-family: "Consolas" !important;
}
html body .bvi-body a[down-link] {
	text-decoration: none !important;
}
html body .bvi-body[data-bvi-images="grayscale"] video,
html body .bvi-body[data-bvi-images="grayscale"] object,
html body .bvi-body[data-bvi-images="grayscale"] iframe {
	filter: grayscale(1);
}
html body .bvi-body[data-bvi-images="false"] video,
html body .bvi-body[data-bvi-images="false"] object,
html body .bvi-body[data-bvi-images="false"] iframe {
	visibility: hidden;
}
html body .bvi-body[data-bvi-images="false"] .embed-responsive {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-bottom: 4.3em;
}
html body .bvi-body[data-bvi-images="false"] .embed-responsive::before {
	border: 2px dashed !important;
	content: "Embedded Object";
	display: inline-block;
	padding: 0.1em 0.6em;
}
body.new_year .section.container .container-fluid.content .h1,
body.new_year .section.container .container-fluid.content h1 {
	padding-bottom: 26%;
	background-position: center bottom; 
	background-repeat: no-repeat; 
	background-size: contain;
	background-image: url(/assets/templates/projectsoft/images/top.png);
}
#detach-button-host {
	display: none !important;
} 
.video-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.video-list .embed-wrapper {
	max-width: 300px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
} 
.embed-responsive-phone {
	padding-bottom: 176.25%
}
.GisLoad {
	margin-bottom: 70px;
}
.table.table-bordered tr td {
	text-align: left;
}
.line-hr {
	box-shadow: 0 0 3px #0098ff;
	height: 0;
	overflow: hidden;
	border: unset;
	border-bottom: .5px solid #0098ff;
}
#page {
	margin-bottom: 2.5em;
}